.DS_Store
.env
.venv/
.python-version
.idea/
.cache/
.pytest_cache/
.ruff_cache/
*.log

__pycache__/
*.py[cod]

db.sqlite3
*.sqlite3

chroma_data/
.git.local-backup/
.git.backup/
.git.backup-*/
BridgeUs/src/pages/* 2.jsx
api/* 2.py

media/
staticfiles/
